{% extends "layout.html" %}

{% block main %}
    <a href="/" type="button" class="btn btn-success mb-4"><span class="">&#8592;</span>&nbsp; Go Back</a>
    <section class="row justify-content-center align-items-center">
        <div class="col-md-8">
          <form method="post">
            {{form.hidden_tag()}}
            <div class="mb-3">
              {{form.title.label}}
              {{form.title(class='form-control')}}
              <!-- <input type="text" name="title" class="form-control" id="title" placeholder="Title..."> -->
            </div>
            <div class="mb-3">
              {{form.content.label}}
              {{form.content(class="form-control ck-editor")}}
              <!-- <textarea class="form-control" name="content" id="content" rows="5" placeholder="Content"></textarea> -->
            </div>
            {{form.submit(class="btn btn-primary")}}
            <!-- <button type="submit" class="btn btn-secondary">Create</button> -->
          </form>
          {{ ckeditor.load() }}
          {{ ckeditor.config(name='content') }}
        </div>
    </section>

{% endblock %}