{% extends "layout.html" %}

{% block title %}
    Notes
{% endblock %}

{% block main %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        Hello! Welcome, <strong>{{user.username}}</strong>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <a href="/create_new" type="button" class="btn btn-success"><span class="">&#43;</span>&nbsp; Add new Note</a>
{% endblock %}