{% extends "layout.html" %}

{% block title %}
    Pomodoro Timer
{% endblock %}

{% block main %}
    <a href="/" type="button" class="btn btn-success"><span class="">&#8592;</span>&nbsp; Go Back</a>
    <h1>Pomodoro Timer</h1>
        <h2 id="timer">{{ time_left }}</h2>
        <button id="start-btn" class="btn btn-primary">Start</button>
        <button id="stop-btn" class="btn btn-danger">Stop</button>
        <button id="reset-btn" class="btn btn-secondary">Reset</button>
    <!-- <div class="row">
        <div class="col-md-6">
            <h2>Work Time</h2>
            <p id="work-time">{{ work_duration }}</p>
        </div>
        <div class="col-md-6">
            <h2>Break Time</h2>
            <p id="break-time">{{ break_duration }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="start-btn" class="btn btn-primary">Start</button>
            <button id="stop-btn" class="btn btn-danger">Stop</button>
            <button id="reset-btn" class="btn btn-secondary">Reset</button>
        </div>
    </div> -->
    <!-- <section class="row justify-content-center align-items-center">
        
        <div id="timer">
            <p>{{ pomodoro_elapsed_time }}</p>
        </div>
    
        <div id="controls">
            <button id="start-pomodoro" {{ pomodoro_state == 'working' and 'disabled' }}>Start Pomodoro</button>
            <button id="pause-pomodoro" {{ pomodoro_state != 'working' and 'disabled' }}>Pause Pomodoro</button>
            <button id="resume-pomodoro" {{ pomodoro_state != 'working' or pomodoro_state == 'idle' and 'disabled' }}>Resume Pomodoro</button>
            <button id="reset-pomodoro">Reset</button>
        </div>
    </section> -->
    
{% endblock %}