*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #f4f4f4;
}

.logo{
    font-weight: 800;
    font-size: larger;
}

.form_layout a{
    color:darkblue;
    text-decoration: underline;
}