*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #f4f4f4;
}

.logo{
    font-weight: 800;
    font-size: larger;
    color: black;
}

.form_layout a{
    color:darkblue;
    text-decoration: underline;
}

.card-body{
    padding: 15px 30px;
}

.note_content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text-muted{
    font-size: 13px;
}